name: MSYS2 Setup

on:
  workflow_dispatch:

defaults:
  run:
    shell: msys2 {0}

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: msys2/setup-msys2@v2
        with:
          update: true
          msystem: UCRT64
      - run: pacman --noconfirm -Syu mingw-w64-ucrt-x86_64-rust mingw-w64-ucrt-x86_64-protobuf # protobuf is needed by atuin
      - uses: Swatinem/rust-cache@v2  
      - run: cargo install atuin 
      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: atuin
          path: C:\Users\runneradmin\.cargo\bin\atuin.exe
          retention-days: 30
