name: Build Atuin

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'  # This runs the workflow every Sunday at midnight UTC
defaults:
  run:
    shell: msys2 {0}

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: msys2/setup-msys2@v2
        with:
          update: true
          msystem: UCRT64
      - run: pacman --noconfirm -Syu zsh # protobuf is needed by atuin
      - uses: Swatinem/rust-cache@v2  
      - run: zsh -c "echo \$OSTYPE" 
      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: atuin
          path: C:\Users\runneradmin\.cargo\bin\atuin.exe
